body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fb671a;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
body::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.hidden{
    display: none;
}
.login{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.login figure{
    margin-top: 72px;
    margin-bottom: 94px;
}
.login .input-login{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
.login::-webkit-input-placeholder{
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
    
}
.button-input{
    width: 109px;
    height: 45px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    color: #696969;

    background: #E7E7E7;
    border-radius: 9px;
    border: none;
}
.container{
    position: relative;
    width: 100%;
    background-color: #E5E5E5;
}
.container::-webkit-scrollbar{
    height: 0;
    width: 0;
}

header{
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 80px;
    padding: 0 22px;
    font-size: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mask{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;

    display: none;
}
.mask::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.mask .off-mask{
    height: 100vh;
    width: 30%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
}
aside{
    z-index: 3;
    width: 70%;
    height: 100vh;
    background-color: #FFFFFF;
}
aside h2{
    height: 84px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #000000;
}
aside #user-online{
    height: 300px;
    overflow: auto;
}
#user-online::-webkit-scrollbar{
    height: 0;
    width: 0;
}
aside .visibilidade{
    height: 66px;
}
aside article > div{
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
}
.check{
    color:green;
    display: none;
}
aside ion-icon{
    font-size: 20.31px;
}
main{
    margin-top: 106px;
    margin-bottom: 80px;

    height: 100vh;
    overflow: auto;
}
main::-webkit-scrollbar{
    height: 0;
    width: 0;
}
main .card-chat{
    font-size: 14px;
    line-height: 16px;
    width: inherit;
    list-style: none;
    padding: 0 9px;
    margin: 4px 0;

    display: flex;
    align-items: center;
    gap: 5px;
}
main .card-chat p {
    min-height: 40px;
}
main .status{
    background-color: #DCDCDC;
}
main .message{
    background-color: #fff;
}
main .private_message{
    background-color: #FFDEDE;
}
main .card-chat b{
    font-weight: bold;
    display: contents;
    word-break: break-word;
}
main .card-chat .timer{
    color: #AAAAAA;
    display: flex;
    align-items: center;
}
footer{
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
    height: 80px;
    padding: 0 17px;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .container-input{
    position: relative;
    width: 90%;
    height: inherit;
    display: flex;
    align-items: center;
}
footer .mensagem{
    border: none;
    word-break: normal;
    height: 30%;
    width: inherit;
    overflow: hidden;
    outline: none;
    resize: none;
    /* padding-bottom: 25px; */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
footer p{
    position: absolute;
    left: 17px;
    bottom: 0;
    color: #505050;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    
}
.mensagem::-webkit-input-placeholder{
    font-style: italic;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
}
footer button{
    border: none;
    background-color: transparent;
}
footer button > ion-icon{
    font-size: 26px;
}
@media (min-width: 600px){
    .login, .container, header, footer{
        width:600px;
        left: auto;
        right: auto;
        padding: 0;
    }
    .mask{
        width: 600px;
    }
    header img{
        margin-left: 22px;
    }
    header ion-icon{
        margin-right: 22px;
    }
    footer .mensagem{
        margin-left: 17px;
    }
    footer ion-icon{
        margin-right: 17px;
    }
}